/*Documento CSS*/

/*HelpC*/

html {
}

.navbar {
    margin-bottom: 0px;
    border: none;
    background-image: url("../img/img_outlets.png");
    background-repeat: repeat;
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
    border: 0px;
    height: 40px;
    padding-right: 25px;
    padding-left: 25px;
}

body {
    min-width: 300px;
}

bobyPage{
    position: absolute !important;
}

.well{
    border-radius: 0;
    font-family: serif;
}

.error {
    text-align: center;
    background-color: red;
    color: white;
    font-size: 15pt;
}

.areaCentral {
    background-image: url("../img/img_type.png");
    background-repeat: repeat;
    padding-bottom: 40px;
}

.areaMediana {
    background-image: url("../img/img_escheresque2.png");
    background-repeat: repeat;
}

.areaRodape {
    background-image: url("../img/img_type.png");
    background-repeat: repeat;
    position: relative !important;
    bottom: 0px;
    width: 100%;
    padding: 30px 10px 10px 10px;
}

#btnLogin{
    margin: 0px auto 0px auto;
}

.pgLogin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

.btAcesso{
    display: none !important;
}

a.acessoLogout{
    color: #E3DAA8;
}

.pgCadastro{
    max-width: 430px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;  
}

#tituloInfo{
    color: white;
    font-size: 26pt;
}
#subTituloInfo{
    color: white;
}
#imgCenter{
    opacity: 0.9;
}
.resolImgCenter{
    width: 90%; 
    body: mix;
}
#btIniciar{
    font-size: 20pt;
    padding: 0px 30px 0px 20px;
    margin: 10px auto 50px auto;
}

#btConfirmar{
    font-size: 20pt;
    padding: 0px 30px 0px 20px;
    margin: 10px auto 10px auto;   
}
#areaDiag{
    opacity: 0.7;
    display: inline-block;
}
#areaView{
    opacity: 0.7;
    margin: 20px 0px 10px 0px;
    height: 355px;
}

.btAux{
    font-size: 20pt;
    padding: 3px 7px 0px 7px;    
}

.tituloRodape{
    color: white;
    font-size: 14pt; 
}

.textoRodape{
    color: #CFD0D1;
}

.areaInput{
    border-radius: 0;
}

.btn-remover{
    color: black;
    margin-left: 5px;
}

.textTitulo{
    margin: 0;
    margin-top: -12px;
    margin-bottom: 5px;
    font-size: 14pt;  
}

.ajusteTop{
    margin-top: 25px;
}

.bkgroundPage{
    background-image: url("../img/img_escheresqueTrans.png");
    background-repeat: repeat;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imgPerfil{
    width: 200px;
}

p.infoCopyright{
    margin-bottom: 0 !important;
}

.ajusteHeader{
    padding: 3em 0 0em 0 !important;  
}
